.youtubeSearchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F9F9F9;
}

.youtubeSearchContainer .formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40vh;
  background: #FFFFFF;
}

.youtubeSearchContainer .formContainer form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 35px;
}

.youtubeSearchContainer .searchImput {
  width: 60vh;
  height: 3vh;
  padding-left: 10px;
  font-size: 20px;
  color: rgb(119, 118, 118);
  border: 1px solid rgb(230, 230, 230);
}

.youtubeSearchContainer .searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 3.2vh;
  border: 1px solid rgb(230, 230, 230);
  outline: none;
}

.youtubeSearchContainer .searchButton:hover {
  background-color: rgb(203, 255, 233);
}

.youtubeSearchContainer .searchButton:active {
  background-color: rgb(255, 252, 252);
}

.youtubeSearchContainer .searchButton .searchIcon {
  color: rgb(148, 143, 143);
}

/*-------------*/

.UserOptions {
  width: 50%;
  min-width: 680px;
  height: 100px;
  background: rgb(61, 61, 61);
  color: #F9F9F9;
  border-radius: 8px;
}

/*-------------*/

.youtubeSearchContainer .responseContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.youtubeSearchContainer .videoList {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vh;
}

.youtubeSearchContainer .videoItem {
  display: flex;
  align-items: center;
  width: 850px;
  margin-top: 1vh;
  margin-bottom: 1px;
  border: 1px solid #55545480;
  border-radius: 8px;
  background: #3d3d3d;
}

.youtubeSearchContainer .descriptionArea {
  width: 340px;
  height: 80px;
  overflow: scroll;
  overflow-x: hidden;
  border: solid 1px rgb(156, 156, 156);
}

.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.youtubeSearchContainer .thumb img {
  margin-top: 3px;
  margin-right: 10px;
  width: 220px;
}

.youtubeSearchContainer .videoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 17vh;
  color: #F9F9F9;
}

.youtubeSearchContainer .title {
  font-size: 14PX;
  margin-top: 5px;
  text-align: center;
}

.youtubeSearchContainer .title a {
  font-weight: bold;
  color: #F9F9F9;
  text-decoration: none;
}

.youtubeSearchContainer .description {
  display: flex;
  margin-top: 15px;
}

.youtubeSearchContainer .meta {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 18px;
  margin-bottom: 5px;
}

.meta .metaItem {
  display: flex;
  justify-content: center;
  width: 600px;
  height: 30px;
}

.youtubeSearchContainer ul:nth-child(4n+0) {
  display: flex;
  width: 715px;
  font-size: 12px;
  justify-content: flex-end;
}

.wordsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 130px;
  left: 300px;
}

.marker {
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.marker1 {
  font-weight: 700;
  color: rgb(29, 199, 171);
}

/*-----------------*/

.videoNotFound {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
}

.videoNotFound p {
  font-size: 22px;
}